body {
    font-size: smaller;
    background-color: white;
    text-align: right;
}

h1 {
    font-weight: 100;
    font-size: small;
    text-align: left;
    background-color: yellow;
}

.gallery {
    background-color: white;
    font-size: small;
    text-align: center;
}