<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dog Walking Service</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body class="bg-light">

  <div class="gallery" v-if="dogImages.length">
  <h1>Dog of the day!</h1>
  <img v-for="(url, index) in dogImages" :src="url" alt:="'Dog' + index">
  </div>
  <Script>
    const { createApp } = Vue;
    createApp({
      data() {
        return {
          dogImages:[]
        };
      },
    methods: (
    async fetchDogs() {
      const res = await fetch('https://dog.ceo/api/breeds/image/random/3');
      const data = await res.json();
      this.dogImages = data.message;
    }
    )
    }).mount('app');
  </Script>
</body>
</html>